.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto 30px;
  padding: 15px;
  border: 1px solid teal;
  border-radius: 20px;
  &__label {
    margin: 5px;
  }
  &__input {
    outline: none;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
}
