input {
  margin-bottom: 15px;
  padding: 13px 16px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 66%;
  font-size: 16px;
  outline: none;
}

button {
  font-size: 16px;
  margin-top: 15px;
  padding: 13px 16px;
  border: none;
  border-radius: 30px;
  background-color: #263986;
  text-align: center;
  color: whitesmoke;
  cursor: pointer;
}
button:hover {
  background-color: #4d68e5;
}

.blacked {
  background-color: #222222;
  color: whitesmoke;
  padding: 20px 40px;
}

form div {
  color: #222222;
}
