.RootPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh ;
}

.Header {
  padding: 1rem 0;
}

.PageContent {
  flex-grow: 1;
}

.itemCard {
  margin: 1rem;
}

.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}
