.app {
  max-width: max-content;
}

table {
  font-family: "Arial", sans-serif;
  border-collapse: collapse;
  width: 50vw;
  color: whitesmoke;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
